{% extends "base.html" %}
{% block content %}
{# https://www.w3schools.com/html/html_form_input_types.asp #}

<form action="{{ url_for('form_post')}}" method="post">
    <label for="firstname">Fornavn</label>
    <input type="text" name="firstname" value="Mikke"><br>

    <label for="lastname">Etternavn</label>
    <input type="text" name="lastname" value="Mus"><br>

    <label for="dato">Dato</label>    
    <input type="date" name="dato" value="{{ dato }}"><br>
    
    <input type="checkbox" name="ok" value="ok" checked>
    <label for="ok">Ok</label><br>    

    
    <br>
    <input type="submit" value="Submit">
</form>

{% endblock %}
