{% extends 'base.html' %}

{% block content %}
<h1>WTForm</h1>
<form method="POST" action="{{ url_for('wtform') }}">
    {{ form.csrf_token }}
     
    <div class="form-group">
        {{ form.firstname.label }}
        {{ form.firstname(size=20) }}
    </div>
    <div class="form-group">
        {{ form.lastname.label }}
        {{ form.lastname(size=20) }}
    </div>
    <div class="form-group">
        {{ form.dato.label }}
        {{ form.dato }}
    </div>


    <input type="submit" value="Go">
</form>
<table class="table table-responsive">
    {% for k in results %}
    <tr>
        <td>{{ k }}</td>
        <td>{{ results[k] }}</td>
    </tr>

    {% endfor %}

</table>
{% endblock %}